{% extends "challenge.html" %} 

{% block scripts %}
{{ super() }}
<script>
console.log("[Container INLINE] Script block executing");
</script>
{% endblock %}

{% block connection_info %}
<div class="mb-3 text-center deployment-actions" data-challenge-id="{{ challenge.id }}">
  <div class="alert alert-primary" id="deployment-info">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <span>
    <button
      onclick="container_request({{ challenge.id }})"
      class="btn btn-primary d-none"
      id="create-chal"
    >
      <small style="color: white"> Fetch Instance </small>
    </button>
    <button
      onclick="container_renew({{ challenge.id }})"
      class="extend-chal btn btn-info d-none"
      id="extend-chal"
    >
      <small style="color: white"> Extend +5m </small>
    </button>
    <button
      onclick="container_restart({{ challenge.id }})"
      class="restart-chal btn btn-warning d-none"
      id="restart-chal"
    >
      <small style="color: white"> Restart </small>
    </button>
    <button
      onclick="container_stop({{ challenge.id }})"
      class="terminate-chal btn btn-danger d-none"
      id="terminate-chal"
    >
      <small style="color: white"> Terminate </small>
    </button>
  </span>
</div>
<script>
console.log("[Container INLINE] connection_info block script executing");
console.log("[Container INLINE] Challenge ID: {{ challenge.id }}");
if (typeof view_container_info === 'function') {
    console.log("[Container INLINE] Calling view_container_info");
    view_container_info({{ challenge.id }});
} else {
    console.log("[Container INLINE] view_container_info not defined yet, setting timeout");
    setTimeout(function() {
        if (typeof view_container_info === 'function') {
            console.log("[Container INLINE] Calling view_container_info after timeout");
            view_container_info({{ challenge.id }});
        } else {
            console.error("[Container INLINE] view_container_info still not defined!");
        }
    }, 500);
}
</script>
{% endblock %}
